<table>
	<tr>
		<th><h1>Pros</h1></th>
    <th><h1>Cons</h1></th>
  </tr>
  <tr>
    <td>{{pro}}</td>
    <td>{{con}}</td>
  </tr>
</table>

<p>Procon is a glorified pro and cons list to help you make decisions</p>
<p>Addy Kim 2016</p>